.bottom-nav{
    position:fixed;

    left:14px;
    right:14px;

    bottom:
        calc(12px + env(safe-area-inset-bottom));

    z-index:9999;

    display:flex;
    justify-content:space-around;
    align-items:center;

    background:
        rgba(255,255,255,.88);

    backdrop-filter:blur(24px);
    -webkit-backdrop-filter:blur(24px);

    border-radius:999px;

    padding:14px 10px;

    box-shadow:
        0 10px 35px rgba(0,0,0,.16);

    min-height:74px;
}

.nav-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    text-decoration:none;
    color:#6d7b88;

    font-size:12px;

    min-width:58px;
    min-height:52px;
}

.nav-icon{
    font-size:22px;
    margin-bottom:4px;
}

.active{
    color:#356B9C;
    font-weight:700;
}
